gradle/
gen/
bin/
.idea/
.gradle
gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
captures/
*.prefs
/TingMainApp/lint.xml
/TingMainApp/local.properties
/TingMainApp/.idea/copyright
*.iml
*.settings
/TingMainApp/libs/x86
/*.iml
/TingMainApp/libs_so_x86_backup_for_simulator_do_not_use
.classpath
.project
log.txt
project.properties
*/maven-metadata.xml
/MainModuleApplication/mapping.txt
